
div.heads {
    background-color:black;
    color: white;
    margin: 20px0px;
    padding: 20px;
	font-family: Haettenschweiler;
	font-size: 200%;
}

div.fontz {
	font-family:Sansation;
	text-align: ;
}
